body {
  margin: 0;
  padding: 0;

}

.slick-dots li button {
  background-color: #ccc; /* Color of inactive dots */
  border-radius: 50%; /* Round shape */
  width: 20px; /* Dot size */
  height: 20px; /* Dot size */
  opacity: 1; /* Full opacity for the button */
  margin-top: 25px;
}

.slick-dots li.slick-active button {
  background-color: #fff; /* Color of active dot */
}

